extends ../layout

block content
  h1 Questions

  +carousel(1,ques)

//- carousel caption
mixin carousel-caption(item)
  .carousel-caption
    unless !item.title
      h1 #{item.title}
    unless !item.description
      p #{item.description}
    unless !item.options
        each val, key in item.options
          span.options
            label= key
            input(type="radio" name="choices-" + item.id value=val)

//- carousel
mixin carousel(id,items)
  .carousel.slide(id="carousel-" + id ,data-ride="carousel")
    //- Indicators
    ol.carousel-indicators
      each item,index in items
        if(index === 0)
          li.active(data-target="#carousel-" + id, data-slide-to=index)
        else
          li(data-target="#carousel-" + id, data-slide-to=index)

    .carousel-inner(role="listbox")
      each item,index in items        
        if(index === 0)
          .item.active
            span=item.title
            +carousel-caption(item)
        else
          .item
            span=item.title
            +carousel-caption(item)

    a.left.carousel-control(href="#carousel-" + id, role="button", data-slide="prev")
      +icon("chevron-left")
      span.sr-only Previous
    a.right.carousel-control(href="#carousel-" + id, role="button", data-slide="next")
      +icon("chevron-right")
      span.sr-only Next

//- Glyphicon
mixin icon(name)
  span.glyphicon(class="glyphicon-" + name,aria-hidden="true")
	
mixin icon-primary(name)
  span.glyphicon.text-primary(class="glyphicon-" + name,aria-hidden="true")

mixin icon-info(name)
  span.glyphicon.text-info(class="glyphicon-" + name,aria-hidden="true")
	
mixin icon-warning(name)
  span.glyphicon.text-warning(class="glyphicon-" + name,aria-hidden="true")
	
mixin icon-danger(name)
  span.glyphicon.text-danger(class="glyphicon-" + name,aria-hidden="true")
	
mixin icon-success(name)
  span.glyphicon.text-success(class="glyphicon-" + name,aria-hidden="true")
